<footer>
    <div class="row ">
        <!-- linkedin -->
        <div class="col-4 center d-flex justify-content-center" >
            <a class=" link footerlink" href="https://www.linkedin.com/in/pranida-rat/">
                <img class="footerImg"  src="assets/in.png">
            </a>     
            
            <!-- anoter line -->
            <a class="link footerlink" href="https://www.artstation.com/pranida-rat">
                <img class="footerImg"  src="assets/artstation.png">
            </a>    
        </div>
    

        
    </div>
</footer>