<!-- Header Page -->
<div class="row noPadding">
    <div class="containerH">
        
        <img class="imageH" src ="assets/illustration/illustrationH.svg">
        <div class="middleH"></div>
        <div class="textMiddle">ILLUSTRATION</div>

    </div>
    
</div>

<!-- picture1 -->
<div class="row mt-5">
    <img class="col-11 mx-auto" src="assets/illustration/lofi_challenge.svg">

</div>
<!-- picture2 -->
<div class="row mt-5">
    <img class="col-11 mx-auto" src="assets/illustration/Seraphine_002.svg">
    
</div>
<!-- picture3 -->
<div class="row mt-5">
    <img class="col-11 mx-auto" src="assets/illustration/cat_prarace_02.svg">
      
    
</div>
<!-- picture4 -->
<div class="row mt-5">
    <img class="col-11 mx-auto"  src="assets/illustration/flygirl.svg">
      
      
    
</div>
<!-- picture5 -->
<div class="row mt-5">
    <img class="col-11 mx-auto"  src="assets/illustration/panida-ratarasan-asset.svg">
      
    
</div>

<!-- footer -->
<app-footer></app-footer>
