<div class="row aboutDetail">
    <div class="col-sm-12 col-md-7 about order-1 order-md-0">
        <div class="col-12 aboutCenter">
            <h1 class="col-12 text-center mt-5 mt-md-0">PNIDA RATARASAN</h1>
            <p class="col-9 col-md-10 col-lg-9 mx-auto mt-5">  
                I'm a creative visual development with a passion for
                <span>character design</span>, <span>illustration</span>, <span>environmental design</span>, <span>production art</span>.  
                I'm also expertise in <span>story telling</span>, and <span>color mood</span>.
                I have experienced in Game design, Music Video, Advertising, and Mascot design 
                with many major entertainment studios in Thailand, such as 
                Netflix, Cartoon Network, Nintendo Switch, etc.
                Moreover, I managed many projects before as the art director position.
                I 'm hardworking , love suggesting the new ideas, 
                and always eager to learn the new things
    
    
            </p>

        </div>
       

    </div>
    <div class="col-sm-12 col-md-5 order-0 order-md-1">
        <img  class="col-6 col-md-10 mx-auto center abooutProfile" src="assets/about/profilePic.png">

    </div>

</div>
<!-- <hr> -->
<div class="row aboutPadding">
    <div class="col-3 center">
        <button type="button" class="Allbtn center"> Resume PDF</button>
    </div>
    
</div>

<div class="row aboutPadding">
    <h1 class="col-12 text-center">AWARDS</h1>
    <ul class="col-10 col-md-6 mx-auto mt-5">
        <li>the 20th shortflims and video festival , Bangkok Thailand, 2016</li>
        <li>Young Thai Artist Award, Bangkok Thailand, 2016</li>
        <li>Degree shows, Bangkok Thailand, 2016</li>
        <li>Asia Digital Art Award Fukuoka the winner from Character Design, Fukuoka Japan, 2017 </li>
        <li>Workshop and International Internship, Bangkok Thailand, 2017</li>
        <li>Character Licensing Workshop, Bangkok Thailand, 2018</li>
        <li>The winner of Character design challenge , Character Design Challenge Group (Facebook Page), 2019</li>
      </ul> 
</div>

<app-footer></app-footer>