<div class="row aboutDetail">
    <div class="col-7 ">
        <h1 class="col-12 text-center">PNIDA RATARASAN</h1>
        <p class="col-6 mx-auto">  
            I'm a creative visual development with a passion for
            character design, illustration, environmental design, and production art. 
            I'm also expertise in story telling, and color mood.
            I have experienced in Game design, Music Video, Advertising, and Mascot design 
            with many major entertainment studios in Thailand, such as 
            Netflix, Cartoon Network, Nintendo Switch, etc.
            Moreover, I managed many projects before as the art director position.
            I 'm hardworking , love suggesting the new ideas, 
            and always eager to learn the new things


        </p>

    </div>
    <div class="col-5">
        <img src="assets/about/profilePic.png">

    </div>

</div>
<div class="row aboutDetail">
    <h1>AWARDS</h1>
</div>