<div class="row aboutDetail">
    <div class="col-sm-12 col-md-7 mx-auto about order-1 order-md-0">
        <div class="col-12 aboutCenter">
            <h1 class="col-12 text-center mt-5 mt-md-0">PRANIDA RATARASAN</h1>
            <p class="col-9 col-md-10 col-lg-9 mx-auto mt-5">  
                I'm a creative visual development with a passion for
                <span>character design</span>, <span>illustration</span>, <span>environmental design</span>, <span>production art</span>.  
                I'm also expertise in <span>story telling</span>, and <span>color mood</span>.
                I have experienced in Game design, Music Video, Advertising, and Mascot design 
                with many major entertainment studios in Thailand, such as 
                Netflix, Cartoon Network, Nintendo Switch, etc.
                Moreover, I managed many projects before as the art director position.
                I 'm hardworking , love suggesting the new ideas, 
                and always eager to learn the new things
    
    
            </p>

        </div>
       

    </div>
    <div class="col-sm-12 col-md-5 order-0 order-md-1">
        <img  class="col-6 col-md-10 mx-auto center abooutProfile" src="assets/about/profilePic.png">

    </div>

</div>
<!-- <hr> -->

<!-- AWARDS -->
<div class="row aboutPadding">
    <hr class="my-5">
    <h1 class="col-12 text-center mt-5">AWARDS</h1>
    <ul class="col-9 col-sm-9 col-md-9 col-lg-6 mx-auto mt-5">
        <li>The winner of Character design challenge , Character Design Challenge Group (Facebook Page), 2019</li>
        <li>Character Licensing Workshop, Bangkok Thailand, 2018</li>
        <li>Workshop and International Internship, Bangkok Thailand, 2017</li>
        <li>Asia Digital Art Award Fukuoka the winner from Character Design, Fukuoka Japan, 2017 </li>
        <li>Degree shows, Bangkok Thailand, 2016</li>
        <li>Young Thai Artist Award, Bangkok Thailand, 2016</li>
        <li>the 20th shortflims and video festival , Bangkok Thailand, 2016</li>
      </ul> 
</div>

<!-- SKILL START HERE-->
<div class="row aboutPadding">
    <hr class="my-5">
    <h1 class="col-12 text-center mt-5">SKILLS</h1>
    <p class="col-10 col-md-6 mx-auto mt-5 text-center">
         Concept art / Illustration /Character design / Environmental design 
        <br>Visual development design / Entertainment Art 
    </p> 
</div>

<!-- Software proficiency START HERE-->
<div class="row aboutPadding">
    <hr class="my-5">
    <h1 class="col-12 text-center mt-5">SOFTWARE PROFICIENCY</h1>
    <div class="col-10 col-md-6 mx-auto mt-5  text-start">
        <!-- Photoshop -->
        <div class="col-12 d-flex justify-content-center my-5">
            <div class="col-sm-2">
                <object data="assets/icon/ps.svg" class="softwareIcon"> </object> 
            </div>
            
            <p class="my-2 col-2">Photoshop</p>
        </div>

        <!-- Blender -->
        <div class="col-12 d-flex justify-content-center my-5">
            <div class="col-sm-2">
                <object data="assets/icon/Blender.svg" class="softwareIcon"> </object> 
            </div>
            <p class="my-2 col-2">Blender</p>
        </div>

        <!-- Procreate -->
        <div class="col-12 d-flex justify-content-center my-5">
            <div class="col-sm-2">
                <object data="assets/icon/procreate.svg" class="softwareIcon"> </object> 
            </div>
            
            <p class="my-2 col-2">Procreate</p>
        </div>
       
        <!-- Maya -->
        <div class="col-12 d-flex justify-content-center my-5">
            <div class="col-sm-2">
                <object data="assets/icon/maya.svg" class="softwareIcon"> </object>
            </div>
             
            <p class="my-2 col-2">Maya</p>
        </div>

        <!-- illustrator -->
        <div class="col-12 d-flex justify-content-center my-5">
            <div class="col-sm-2"><object data="assets/icon/Ai.svg" class="softwareIcon"> </object> </div>
            
            <p class="my-2 col-2">Illustrator</p>
        </div>
        
         
    </div> 
</div>


<div class="row aboutPadding">
    <hr class="my-5">
    <h1 class="col-12 text-center mt-5">RESUME PDF</h1>
    <div class="col-10 col-md-6 mx-auto mt-5 text-center">
         <a routerLink="/resume" routerLinkActive="active">View</a>
    </div> 
    <!-- <div class="col-8 col-sm-6 col-md-3 mx-auto">
        <button type="button" class="Allbtn center"> Resume PDF</button>
    </div> -->
    
</div>

<!-- Footeer -->
<div class="row footerPadding">
    <!-- <div class="col-12 mt-5 link"  routerLink="/about" routerLinkActive="active" (click) ="routerClick()">
        <img class="imgProfile center"src="assets/mappo_pic.png">

    </div> -->
    
    <div class="col-sm-12 col-md-10 col-lg-6 text-center mt-5 center footerDetail">
        <h2 class="col-12">CONTACT</h2>
        <br/>
        <h3 class="col-12"> Pranida Ratarasan</h3>
        <p class="col-12">Concept Artist / Character Designer / Illustrator</p>
        <a class="col-12" href ="mailto:pranida.ratarasan@gmail.com"><h3>pranida.ratarasan@gmail.com</h3></a>

    </div>
</div>
<app-footer></app-footer>