
$orange :#F18949;

.aboutDetail{
    margin-top: 180px;
    p{
        font-size:30px;
    }
    h1{
        font-size: 62px;
    }
}


.about{
    position: relative;
    // margin-top: 200px;
    
    .aboutCenter{
        margin: 0;
        // background: yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
    }
    span{
        font-family: SukhumvitSet-Bold;
        color: $orange;
    }
}


ul {
    list-style: none; /* Remove default bullets */
  }

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $orange; /* Change the color */
    font-size: 40px;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.aboutPadding {
    margin-top: 200px;
    h1{
        font-size: 45px;
    }
    p, li{
        font-size:30px;
    }

    a{
        text-decoration: underline;
        color:$orange;
        font-size: 35px;
    }
}

hr{
    width:80%;
    height: 2px;
    margin: 0 auto;
    background-color: black;
    opacity: 0.7;
    border: none;

}

.softwareIcon{
    width: 60px;
    height: auto;
    margin-right: 40px;
}

.footerPadding{
    margin-top: 200px;
}



@media screen and (max-width: 1802px){
    .aboutDetail{
        h1{
            font-size: 52px;
        }
    }
}


@media screen and (max-width: 1634px){
    .aboutDetail{
        h1{
            font-size: 42px;
        }
        p{
            font-size:20px;
        }
        
    }


}
@media screen and (max-width: 1472px){
        
    .aboutDetail{
        p{
            font-size:20px;
        }
        h1{
            font-size: 35px;
        }
    }
    .aboutPadding{
        h1{
            font-size: 35px;
        }
        p, li{
            font-size:20px;
        }
        a{
            font-size: 25px;
        }
    }

}

@media screen and (max-width: 948px){
        
    .aboutDetail{
        p{
            font-size:16px;
        }
        h1{
            font-size: 30px;
        }
    }
    .aboutPadding{
        h1{
            font-size: 30px;
        }
        p, li{
            font-size:18px;
        }
        a{
            font-size: 23px;
        }
    }

    .softwareIcon{
        width: 40px;
    }

}
@media screen and (max-width: 767px){
    .about .aboutCenter{

        position: relative;     
    }
    .softwareIcon{
        width: 40px;
    }

    // .aboutDetail{
    //     p{
    //         font-size:16px;
    //     }
    //     h1{
    //         font-size: 30px;
    //     }
    // }
    // .aboutPadding{
    //     h1{
    //         font-size: 30px;
    //     }
    //     p, li{
    //         font-size:16px;
    //     }
    // }
}

@media screen and (max-width: 425px) {

    .aboutDetail{
        margin-top: 140px;
    }
    ul{
        margin-left: 5px;
    }
    
    ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $orange; /* Change the color */
        font-size: 30px;
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 0.8em; /* Also needed for space (tweak if needed) */
        margin-left: -0.8em; /* Also needed for space (tweak if needed) */
    }
    
    
}



