<!-- Header Page -->
<div class="row noPadding">
    <div class="containerH">
        <img class="imageH" src="assets/client/bountybrawl/coverH.svg">
        <!-- <img class="=col-12 fullextend image" src ="assets\lofi_challenge.jpg">  -->
        <div class="middleH">
        </div>
        <div class="textMiddle">BOUNTY BRAWL</div>
        
    </div>
    
</div>

<!--  Bounty Brawl Work -->
<div class="row mt-5" >
    <!-- picture1 -->
    <div class="col-12">
        <img class="image" src="assets/client/bountybrawl/portfolio_panida_03-20.svg"/>
          
    </div>
    
    <div class="col-10 col-md-6 mx-auto text-center  mt-5">
        <a class="backBtn " (click)="goBack()">Back</a>
    </div>

   
</div>



