<div class="row">
    <div class="containerH">
        
        <img class="imageH" src ="assets/client/coverH.svg">
        <div class="middleH"></div>
        <div class="textMiddle">CLIENT WORK</div>

    </div>
    
</div>
<!--  Select Art Menu -->
<div class="row mt-5">
    <!-- picture1 -->
    <div class="col-4 ">
        <!-- <div class="row">
            <div class="containerC1 link" routerLink="/client/tinymighty" routerLinkActive="active" (click) ="routerClick()"> -->
                <img class="image link" routerLink="/client/tinymighty" routerLinkActive="active" (click) ="routerClick()" src="assets/client/tinymighty/cover.svg">
                <!-- <div class="middleC1"> -->
                    <!-- <div class="hovertext">TINY MIGHTY</div> -->
                <!-- </div> -->
<!-- 
            </div>
        </div>
        
         -->
    </div>  
          
    <!-- picture2 -->
    <div class="col-4 ">
        <!-- <div class="row">
            <div class="col-12 containerC2 link" routerLink="/client/bountybrawl"  routerLinkActive="active" (click) ="routerClick()"> -->
                <img class="image link" routerLink="/client/bountybrawl"  routerLinkActive="active" (click) ="routerClick()"  src="assets/client/bountybrawl/cover.svg">
                <!-- <div class="middleC2"> -->
                    <!-- <div class="hovertext">BOUNTY BRAWL</div> -->
                <!-- </div> -->

            <!-- </div>
        </div> -->
    </div>
    <div class="col-4 ">
        <!-- <img class="image"  src="assets/client/bountybrawl/cover.svg"/> -->
    </div>
    
</div>