<!-- Header Page -->
<div class="row noPadding">
    <div class="containerH">
        <img class="imageH" src="assets/client/tinymighty/coverH.svg">
        <!-- <img class="=col-12 fullextend image" src ="assets\lofi_challenge.jpg">  -->
        <div class="middleH">
        </div>
        <div class="textMiddle">TINY MIGHTY</div>
        
    </div>
    
</div>

<!-- show all art works -->
<!-- <div class="row" *ngFor="let image of imageData;let i = index">
    <div class="col-10 col-md-6 col-lg-4 mx-auto mt-5" *ngIf="image.onclick">
        <div *ngFor="let each of image.src">
            <img class="image my-5" src ="{{each}}">
        </div>
        
    </div>
  
</div>   -->

<!--  Select Art Menu -->
<div class="row mt-5" >
    <!-- picture1 -->
    <div class="col-4 mx-auto">
        <img class="image" src="assets/client/tinymighty/logo.png"/>
          
    </div>
    <div class="col-10 mx-auto my-5">
        <p class="text-center textdes">Tiny Mighty is a story about 3 children and 1 alien try to protect people 
            by fighting with diseases inside the body</p>
    </div>

    <!-- ----------------------------- character ---------------------------------------- -->
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/koon.jpg">

    </div>
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/doze.svg">

    </div>
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/max.svg">

    </div>
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/sunny.svg">

    </div>
    <!-- ----------------------------- facial ---------------------------------------- -->
    <div class="row col-12 mx-auto my-5">
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/facial_doze_001.jpg">
        </div>
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/facial_koon_001.jpg">
        </div>
    </div>
    <div class="col-6 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/facial_max_001.jpg">
    </div>

    <!-- ----------------------------- Action ---------------------------------------- -->
    <div class="row col-12 my-5">
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/koon_line of action_001.jpg">
        </div>
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/max_line of action_001.jpg">
        </div>
    </div>

    <div class="row col-12 my-5">
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/suny_line of action_001.jpg">
        </div>
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/doze_line of action_001.jpg">
        </div>
    </div>

    <!-- ----------------------------- model ---------------------------------------- -->
    <div class="row col-12 my-5">
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/modelsheet_doze_001.jpg">
        </div>
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/modelsheet_koon_001.jpg">
        </div>
    </div>

    <!-- ----------------------------- weapon ---------------------------------------- -->
    <div class="row col-12 my-5">
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/modelsheet_koon_weapon_001.jpg">
        </div>
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/modelsheet_max_weapon_001.jpg">
        </div>
    </div>

    <!-- ----------------------------- other characters ---------------------------------------- -->
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/othercharacters.svg">
    </div>

    <!-- ----------------------------- environmental design ---------------------------------------- -->
    <div class="row col-12 my-5">
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/03layout_chaingrai_page2.jpg">
        </div>
        <div class="col-6">
            <img class="image" src="assets/client/tinymighty/chaingrai_04.jpg">
        </div>
    </div>

    <div class="col-12 my-5">
        <img class="image" src="assets/client/tinymighty/asset06.jpg">
    </div>

<!-- ----------------------------- scene collection ---------------------------------------- -->
    <div class="row my-5">
        <div class="col-6">
            <img class="imageC paddingR" src="assets/client/tinymighty/000_color_03.jpg">
        </div>
        <div class="col-6">
            <img class="imageC paddingL" src="assets/client/tinymighty/pic001.jpg">
        </div>

        <div class="col-6">
            <img class="imageC paddingR" src="assets/client/tinymighty/pic002.jpg">
        </div>
        <div class="col-6">
            <img class="imageC paddingL" src="assets/client/tinymighty/synopsis002_02.jpg">
        </div>

        <div class="col-6">
            <img class="imageC paddingR" src="assets/client/tinymighty/synopsis002_03.jpg">
        </div>
        <div class="col-6">
            <img class="imageC paddingL" src="assets/client/tinymighty/synopsis002_04.jpg">
        </div>

        <div class="col-6">
            <img class="imageC paddingR" src="assets/client/tinymighty/synopsis002_05.jpg">
        </div>
        <div class="col-6">
            <img class="imageC paddingL" src="assets/client/tinymighty/synopsis002_06.jpg">
        </div>

        <div class="col-6">
            <img class="imageC paddingR" src="assets/client/tinymighty/synopsis003_07.jpg">
        </div>
        <div class="col-6">
            <img class="imageC paddingL" src="assets/client/tinymighty/synopsis002_08.jpg">
        </div>

    </div>

    <!-- ----------------------------- villan ---------------------------------------- -->

    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/asset02-06.svg">
    </div>
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/asset08.jpg">
    </div>

     <!-- ----------------------------- layout ---------------------------------------- -->

     <div class="col-12 my-5">
        <img class="image" src="assets/client/tinymighty/layout_body_lung_v03.jpg">
    </div>

    <!-- ----------------------------- cells ---------------------------------------- -->

    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/asset09.jpg">
    </div>

    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/client/tinymighty/asset10.jpg">
    </div>

     <!-- ----------------------------- concept art ---------------------------------------- -->

     <div class="col-12 my-5">
        <img class="image" src="assets/client/tinymighty/starwar_sence_color_002.jpg">
    </div>

    <div class="col-10 mx-auto my-5">
        <p class="text-center textdes">This concept art represents the war between human antibody cells and Minus.</p>
    </div>

    <div class="col-10 col-md-6 mx-auto text-center  mt-5">
        <a class="backBtn " (click)="goBack()">Back</a>
    </div>

</div>




