<div class="row noPadding">
    <div class="containerH">
        
        <img class="imageH" src ="assets/character/characterH.svg">
        <div class="middleH"></div>
        <div class="textMiddle">CHARACTER DESIGN</div>

    </div>
    
</div>

<!-- picture1 -->
<div class="row mt-5">
    <img class="col-7 mx-auto" src="assets/character/thaiDance_cdc.svg">
    <img class= "col-4 mx-auto" src ="assets/character/S__3424259.svg">

</div>
<!-- picture2 -->
<div class="row mt-5">
    <img class="col-11 mx-auto" src="assets/character/Meh_001.svg">
    
</div>
<!-- picture3 -->
<div class="row mt-5">
    <img class="col-5 mx-auto" src="assets/character/panida-ratarasan-asset-3.svg">
    <img class="col-5 mx-auto" src="assets/character/panida-ratarasan-asset-2.svg">
      
    
</div>
<!-- picture4 -->
<div class="row mt-5">
    <img class="col-8 mx-auto"  src="assets/character/Ninja_cat.svg">
      
      
    
</div>
<!-- picture5 -->
<div class="row mt-5">
    <img class="col-11 mx-auto"  src="assets/character/robot.svg">
</div>

<div class="row mt-5">
    <img class="col-11 mx-auto"  src="assets/character/warrior.svg">
</div>

<!-- footer -->
<app-footer></app-footer>
