<div class="row noPadding">
    <div class="containerH">
        
        <img class="imageH" src ="assets/character/characterH.svg">
        <div class="middleH"></div>
        <div class="textMiddle">CHARACTER DESIGN</div>

    </div>
    
</div>

<!-- picture1 -->
<div class="row mt-5">
    <div class="col-7 mx-auto">
        <img class="image" src="assets/character/thaiDance_cdc.svg">
    </div>
    <div class="col-4 mx-auto">
        <img class= "image" src ="assets/character/S__3424259.svg">
    </div>

   
</div>
<!-- picture2 -->
<div class="row mt-5">
    <div class="col-11 mx-auto">
        <img class="image" src="assets/character/Meh_001.svg">
    </div>
    
    
</div>
<!-- picture3 -->
<div class="row mt-5">
    <div class="col-5 mx-auto"><img class="image" src="assets/character/panida-ratarasan-asset-3.svg"></div>
    <div class="col-5 mx-auto"><img class="image" src="assets/character/panida-ratarasan-asset-2.svg"></div>
    
</div>
<!-- picture4 -->
<div class="row mt-5">
    <div class="col-8 mx-auto">
        <img class="image"  src="assets/character/Ninja_cat.svg">
    </div>
   
      
    
</div>
<!-- picture5 -->
<div class="row mt-5">
    <div class="col-11 mx-auto">
        <img class="image"  src="assets/character/robot.svg">
    </div>
    
</div>

<div class="row mt-5">
    <div class="col-11 mx-auto">
        <img class="image"  src="assets/character/warrior.svg">
    </div>
    
</div>

<!-- footer -->
<app-footer></app-footer>
