
<!-- content start here-->
<div class="row mt-5" >
    <div class="col-12">
      
        <div class="text-center textH">THE WHALE’S COMIMG </div>
        
    </div>

    <!-- <div class=" col-10 mx-auto my-5">

        <div class="videoWrapper">
            <video controls >
            
                <source src="https://assets.foundation.app/WH/xY/QmUZ1XjvgVcsfwHjq1dKjaUazBsYsDPJs5ya9TCi4KWHxY/nft_q4.mp4"
                        type="video/mp4">
            
                Sorry, your browser doesn't support embedded videos.
            </video>
         </div>
       

    </div> -->


    <!-- whale coming -->
    <div class="col-12 my-5">
        <img class="image" src="assets/whale/the whalecome color.webp">
    </div>

    <div class="col-10 mx-auto my-5">
        <p class="text-center textdes">The concept of The Whale’s Coming is when this creature comes to the crypto ocean. This gargantuan animal always attracts every nearby small creature. I have been inspired by individuals and institutions who hold large amounts of coins of a certain crypto currency known as whales in the crypto world. I designed the Etheruem coin like crystalized air because, similarly to the air that every life form breathes, this substance has high value. For the Ocean, I was inspired by the sci-fi world. So, I utilized neon lights and holograms. The sound is an electronic pathway to a deep sea experience.</p>
    </div>
    


    <!-- journey -->
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/whale/journey.webp">

    </div>

    <!-- concept -->
    <div class="col-10 mx-auto my-5">
        <img class="image" src="assets/whale/concept cha.webp">

    </div>

    <!-- environment 2 -->
    <div class="col-12 my-5">
        <img class="image" src="assets/whale/the whalecome sketch.webp">

    </div>

    <div class="row">
        <div class="col-10 col-md-6 mx-auto text-center  mt-5">
            <a class="backBtn " href="https://foundation.app/@Meppo/the-whale-s-coming-79989">https://foundation.app/@Meppo/the-whale-s-coming-79989</a>
        </div>

    </div>


    <div class="col-10 col-md-6 mx-auto text-center  mt-5">
        <a class="backBtn " (click)="goBack()">Back</a>
    </div>
</div>
