/* You can add global styles to this file, and also import other style files */

$orange :#F18949;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// font 
@font-face {
    font-family: SukhumvitSet-Light;
    src: url(assets/SukhumvitSet-Light.ttf);
  }

  @font-face {
    font-family: SukhumvitSet-Bold;
    src: url(assets/SukhumvitSet-Bold.ttf);
  }

* {
    font-family: SukhumvitSet-Light;
}
html, body{
    margin: 0;
    // height: 100%;
    
}

.row > * {

  padding-right: 0;
  padding-left: 0;
}

.fontStyle{
    font-family: SukhumvitSet-Light;
    font-size: 69px;
    text-transform: uppercase;
}

.fullextend{
    width:100%;
    height:auto;
    padding: 0 0;

}

// Navigation

.NavMenu {
    width: 50px;
    height:50px;
    float: right;
    margin: 5px 10px;
}
.link{
    outline:none;
    cursor: pointer;
}
.brand{
  width: 100px;
  height: 100%;
}

.noPadding{
    padding:0 0;
}


.center {
    display: block;
    margin:0 auto;
  }

// Header Every Page
.containerH{
    position: relative;
    width: 100%;
    height:auto;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }

  
  .imageH {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0;
  }
  
  .middleH{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.49;
    transition: .5s ease;
    background-color: black;
  }
.textMiddle{
    color: white;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


// FOOTER 
footer{
  
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
  left: 0;
  bottom: 0;
  width: 100%
}
.footerlink{
  padding: 0 10px;
  // a img:hover{
  //   box-shadow: 0px 6px 12px rgb(0,0,0,0.16);
  //   transform: translate(-4px);
  // }
}

.footerImg{
  width: 90px;
  height: auto;
}
.imgProfile{
  width: 300px;
  height: auto;
}

.footerDetail{
  h2{
    font-size: 45px;
  }
  a{
    outline: none;
    text-decoration: none;
    color: black;
    &:hover{
      color:$orange;
    }
  }
  h3{
    font-size: 40px;
  }
  p{
    font-size: 25px;
  }
}
// scroll to The Top Button
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

//button Style
.Allbtn{
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: $orange;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}


@media screen and (max-width: 1440px){

  .textMiddle{
    font-size: 60px;
  }
}



@media screen and (max-width: 1024px){
  .fontStyle{
    font-size: 50px;
  }
  .imgProfile{
    width: 250px;
    height: auto;
  }
  .footerDetail{
    h2{
      font-size: 35px;
    }
    a{
      outline: none;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    h3{
      font-size: 30px;
    }
    p{
      font-size: 20px;
    }
  }

  .footerImg{
    width: 70px;
    height: 100%;
  }

  .textMiddle{
    font-size: 50px;
  }
}
@media screen and (max-width: 768px){

  .brand{
    width: 70px;
    height: 100%;
  }
  .textMiddle{
    font-size: 35px;
  }
}
@media screen and (max-width: 555px){

  .textMiddle{
    font-size: 30px;
  }
}
@media screen and (max-width: 425px){
  .fontStyle{
    font-size: 50px;
  }
  .imgProfile{
    width: 200px;
    height: auto;
  }
  .footerDetail{
    h2{
      font-size: 25px;
    }
    a{
      outline: none;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    h3{
      font-size: 20px;
    }
    p{
      font-size: 14px;
    }
  }

  .footerImg{
    width: 70px;
    height: 100%;
  }

  .textMiddle{
    font-size: 25px;
  }
}

@media screen and (max-width: 375px){
  .brand{
    width: 50px;
    height: 100%;
  }
  .footerImg{
    width: 40px;
    height: 100%;
  }
  .imgProfile{
    width: 140px;
  }
  .textMiddle{
    font-size: 20px;
  }
}

