<!-- Header Illustration -->
<div class="row">
    <!-- <div class="col-12"> -->
        

    <!-- </div> -->
    <!-- <img class="=col-12 fullextend" src ="assets\lofi_challenge.jpg"> -->


    <div class="container1 col-12" routerLink="/illustration" routerLinkActive="active">
        <img class="fullextend image"  src ="assets\lofi_challenge.jpg"> 
        <div class="middle">
            <div class="text">ILLUSTRATION</div>
        </div>
    </div>
</div>

<!-- row 2 --- Character & env & muppo-->
<div class = "row">
    <div class="col-sm-12 col-md-6 noPadding">
        <div class="row">
            <div class="container2 col-12" routerLink="/character" routerLinkActive="active">
                <img class="fullextend image"src="assets/home/thaiDance.svg">
                <div class="middle2">
                    <div class="text">CHARACTER DESIGN</div>
                </div>
            </div>
            

        </div>
          
        
    </div>
    <div class="col-sm-12 col-md-6 noPadding">
        <div class="row">
            <div class="container3 col-12" routerLink="/environment" routerLinkActive="active">
                <img class="fullextend image"src="assets/home/env.svg">
                <div class="middle3">
                    <div class="text">ENVIRONMENTAL DESIGN</div>
                </div>
            </div>
              

        </div>
        <div class="row">
            <div class="container4 col-12" routerLink="/muppo" routerLinkActive="active">
                <img class="fullextend image"src="assets/home/muppo.svg">

                <div class="middle4">
                    <div class="text">MUPPO<br>THE LITTLE WITCH</div>
                </div>
            </div>
              

        </div>


    </div>
</div>

<!-- row 3 --- SKETCH-->
<div class = "row">
    <div class="col-6 noPaddomg">
        <div class="row">
            <div class="col-12 container5" routerLink="/sketch" routerLinkActive="active">
                <img class="fullextend image"src="assets/home/sketch.svg">
                <div class="middle5">
                    <div class="text">SKETCH</div>
                </div>  
            </div>
            
        </div>
       
        
    </div>
    <div class="col-6 noPadding">
        <div class="row">
            <!-- image here -->

        </div>
        <div class="row">
              <!-- image here -->
        </div>


    </div>
</div>

<!-- Footeer -->
<div class="row mt-5">
    <div class="col-12 mt-5">
        <img class="imgProfile center"src="assets/mappo_pic.png">

    </div>
    
    <div class="col-sm-12 col-md-6 text-center mt-3 center footerDetail">
        <h2 class="col-12">CONTACT</h2>
        <br/>
        <h3 class="col-12"> Pnida Ratarasan</h3>
        <p class="col-12">Concept Artist / Character Designer / Illustrator</p>
        <a class="col-12" href ="mailto:meppomaru@gmail.com"><h3>meppomaru@gmail.com</h3></a>

    </div>
</div>
<app-footer></app-footer>


