<!-- Header Page -->
<div class="row">
    <div class="containerH">
        
        <img class="imageH" src ="assets/muppo/muppoH.svg">
        <div class="middleH"></div>
        <div class="textMiddle">MUPPO <br>THE LITTLE WITCH</div>

    </div>
    
</div>

<!-- picture1 -->
<div class="row mt-5">
    <div class="col-sm-12 col-md-7">
        <img class="col-12 center" src="assets/muppo/muppo-intro.svg">
    </div>
    <div class="col-sm-12 col-md-5 intro">
        <div class="col-12 itemCenter">
            <h1 class="col-10 mx-auto text-center ">INTRODUCTION</h1>
            <p class="col-9 mx-auto mt-sm-4 mt-md-5 ">Muppo The Little Witch is a story 
                about an adventure  of mushroom witch and her friend "Katie"( a half cat and caterpillar) in the big forest.
            </p> 
        </div>
           
<!--            
            Muppo have a mushroom spirits and love to exploring world 
            to join her journey.
            they have to find the way to throughout big forest.
        
            who live in the forest and have a mushroom spirits.
            
            
            They both
            She have a mushroom spirits 
            and Katie who is a caterpillar 
            half cat to be friend.
            The story is about Adventure
            Of Muppo and friend 
            in the big forest. -->
        

    </div>

</div>
<!-- picture2 -->
<div class="row mt-5">
    <img class="col-12" src="assets/muppo/muppo_cover.svg">
    
</div>
<!-- Muppo & Kattie -->
<div class="row">
    <div class="col-sm-12 col-md-6 intro">
        <div class="col-12 itemCenter">
            <h1 class="col-10 mx-auto text-center">Muppo and Katie</h1>
            <p class="col-9 mx-auto mt-sm-4 mt-md-4 mt-lg-5 mb-5"><span>Muppo</span> A clumsy and funny witch who love to explore the world. She has a mushroom spirits to help the forest.
                Everywhere she goes, she always make a troble to every spirits of forest.
                <br>
                <br>
                <span>Katie</span> A caterpillar who have a dream to be a butterfly. But somthing stop him to make his dream become true easily.
                
                </p>

        </div>
    </div>

    <img class="col-sm-12 col-md-6" src="assets/muppo/Muppo_Katie.svg">
  

      
    
</div>
<!-- Mushroom Spirit -->
<div class="row">
    
    <img class="col-sm-12 col-md-6" src="assets/muppo/mushroomspirits_intro.svg">
    <div class="col-sm-12 col-md-6 intro">
        <div class="col-12 itemCenter">
                <h1 class="col-10 mx-auto text-center">Mushroom Spirit</h1>
                <p class="col-9 mx-auto mt-sm-4 mt-md-5 mb-5">A little spirit of forest who is a gardian of the forest. They look like children and love to play around.
                </p>

        </div>
        
        
    </div>
    
      
      
    
</div>
<!-- picture5 -->
<div class="row">
    <img class="col-12"  src="assets/muppo/artstyle.svg">
    <p class="col-12 text-center p-5">The art style is inspired from an illustration from children book.</p>
</div>

<!-- Betties & debb -->

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="col-8 center">
            <img class="col-12"  src="assets/muppo/bettie_intro.svg">
            <h1 class="col-12 text-center mt-5">Bettie</h1>
            <p class="col-12">A fierce bat but kind sometime.
                Bettie is inspired from bat and vampire.</p>
        </div>
       
       
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="col-8 center">
            <img class="col-12"  src="assets/muppo/depp_intro.svg">
            <h1 class="col-12 text-center mt-5">Daisy Depp</h1>
            <p class="col-12">A shy turtle who always hide his body
                with his daisy hat and his shell.
                Daisy Depp is inspired from turtle and kappa</p>
        </div>
    </div>
   
    
      
    
</div>

<!-- last pic -->
<div class="row mt-5">
    <img class="col-sm-10 col-md-6 mx-auto"  src="assets/muppo/mupp_last.svg">
</div>

<!-- footer -->
<app-footer></app-footer>
