<p>muppo works!</p>
<!-- Header Page -->
<div class="row noPadding">
    <div class="containerH">
        
        <img class=" fullextend imageH" src ="assets/muppo/muppoH.svg">
        <div class="middleH"></div>
        <div class="textMiddle">MUPPO <br>THE LITTLE WITCH</div>

    </div>
    
</div>

<!-- picture1 -->
<div class="row mt-5">
    <img class="col-7 mx-auto" src="assets/muppo/muppo-intro.svg">
    <div class="col-5">
        <h1 class="muppoTextH center">INTRODUCTION</h1>
        <p>Muppo The Little Witch is a story 
            about an adventure  of mushroom witch and her friend "Katie"( a half cat and caterpillar) in the big forest.
           
           
<!--            
            Muppo have a mushroom spirits and love to exploring world 
            to join her journey.
            they have to find the way to throughout big forest.
        
            who live in the forest and have a mushroom spirits.
            
            
            They both
            She have a mushroom spirits 
            and Katie who is a caterpillar 
            half cat to be friend.
            The story is about Adventure
            Of Muppo and friend 
            in the big forest. -->
            </p>

    </div>

</div>
<!-- picture2 -->
<div class="row mt-5">
    <img class="col-12 fullextend" src="assets/muppo/muppo_cover.svg">
    
</div>
<!-- picture3 -->
<div class="row">
    <div class="col-6">
        <h1>Muppo and Katie</h1>
        <p><span>Muppo</span> A clumsy and funny witch who love to explore. She has a mushroom spirits (ทำไรได้).
            everywhere she goes, she always make a troble to every spirits of forest.
            
            <br>
            <span>Katie</span> a caterpillar who have a dream to be a butterfly. but somthing stop him to make his dream come true easily.
            
            

            <!-- Muppo like to play and adventure 
            every day. She always make trouble to 
            every spirits of forest.
            
            Katie is a caterpillar who have
            A dream to be a butterfly.
            However, it isn’t easy to make 
            his dream come true. -->
            </p>

    </div>
    <img class="col-6 mx-auto" src="assets/muppo/Muppo_Katie.svg">
      
    
</div>
<!-- picture4 -->
<div class="row">
    <img class="col-6 mx-auto" src="assets/muppo/Muppo_Katie.svg">
    <div class="col-6">
        <h1>Mushroom Spirit</h1>
        <p>A little spirit of forest who live and
            protect the forest. they look like children and love to play around.
        </p>

    </div>
      
      
    
</div>
<!-- picture5 -->
<div class="row">
    <img class="col-12"  src="assets/muppo/artstyle.svg">
    <p>The art style is inspired from an illustration for children book.</p>
      
    
</div>

<!-- Betties & debb -->

<div class="row mt-5">
    <div class="col-6">
        <img class="col-8 mx-auto"  src="assets/muppo/bettie_intro.svg">
        <h1>Bettie</h1>
        <p>A fierce bat but kind sometime.
            Bettie is inspired from bat and vampire.</p>
    </div>
    <div class="col-6">
        <img class="col-8"  src="assets/muppo/depp_intro.svg">
        <h1>Daisy Depp</h1>
        <p>A shy turtle who always hide his body
            with his daisy hat and his shell.
            Daisy Depp is inspired from turtle and kappa</p>
    </div>
   
    
      
    
</div>
<div class="row mt-5">
    <img class="col-6 mx-auto"  src="assets/muppo/IMG_2121 copy.svg">
</div>

<!-- footer -->
<app-footer></app-footer>
