
<!-- content start here-->
<div class="row mt-5" >
    <div class="col-12">
      
        <div class="text-center textH">The Afternoon Tea with Mr. Frog </div>
      
    </div>



    <div class=" col-10 mx-auto my-5">
        <p class="textdes">The mushroom witch have an afternoon tea with Mr. Frog and friends among the river
            I created this art to avoid any annoying things in my life and became peaceful feeling like having tea with my friends.</p>
        
    </div>

    <div class=" col-10 mx-auto my-5">

        <div class="videoWrapper">
            <video controls >
            
                <source src="https://assets.foundation.app/j8/kH/QmY8pK5Btxvpd4RTJgoXfFyaYxaiLqprSpwnyUvyyHj8kH/nft.mp4"
                        type="video/mp4">
            
                Sorry, your browser doesn't support embedded videos.
            </video>
         </div>
        
       
    </div>

    <div class="col-6 mx-auto my-5">
        <img class="image" src="assets/env/afternoon.webp">
    </div>
<!-- 
    <div class="row">
        <div class="col-10 col-md-6 mx-auto text-center  mt-5">
            <a class="backBtn " href="https://foundation.app/@Meppo/the-afternoon-tea-with-mr-frog-33420">https://foundation.app/@Meppo/the-afternoon-tea-with-mr-frog-33420</a>
        </div>

    </div> -->
    


    <div class="row">
        <div class="col-10 col-md-6 mx-auto text-center  mt-5">
            <a class="backBtn " (click)="goBack()">Back</a>
        </div>

    </div>
    
</div>
